* {
    box-sizing: border-box;
}

html, body {
    // height: 100%;
    width: 100%;
}

html {
    scroll-padding-top: 114px;
}

body {
    background-color: #fff;
    font-family: $main-font;
    color: $black-color;
    max-width: 100%;
    position: relative;
}

.container {
    margin: 0 auto;
    padding: 0 23px;
    width: $small-container;
    max-width: $small-container;
}

.white-mask {
    position: absolute;
    top: 0;
    z-index: 40;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

@media all and (min-width: $large) {
    .container {
        max-width: $large-container;
    }
}

@media all and (min-width: $extra-large) {
    .container {
        max-width: $extra-large-container;
    }
}
