body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 350px;
    flex-basis: 650px;
    position: absolute;
    display: flex;
}

.container::before,
.container::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    transition: width .6s ease-in, height .4s ease-in .6s;
}

.container::before{
    top: -10px;
    border-top: 5px solid transparent;
}

.container::after{
    bottom: -10px;
    border-bottom: 5px solid transparent;
}

.container:hover::before{
    border-top: 5px solid black;
}

.container:hover::after{
    border-bottom: 5px solid black;
}

.container:hover::before,
.container:hover::after{
    border-left: 5px solid black;
    border-right: 5px solid black;
    height: calc(50% + 5px);
    width: calc(100% + 10px);
}

h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 125%);
    bottom: 50%;
    color: transparent;
    font-size: .1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-transform: uppercase;
    width: 0;
    text-align: center;
    vertical-align: baseline;
    padding: 1.5px;
    transition: all 1s ease-in;
}

.container:hover h2{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    font-size: 3.2em;
}