@charset "UTF-8";
/* Colors */
/* Fonts */
/* Font Sizes */
/* Special */
/* Window Sizes */
/* Container */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

html {
  scroll-padding-top: 114px;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #30383b;
  max-width: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 23px;
  width: 100%;
  max-width: 100%;
}

.white-mask {
  position: absolute;
  top: 0;
  z-index: 40;
  height: 100%;
  overflow-y: hidden;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

@media all and (min-width: 922px) {
  .container {
    max-width: 960px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.read-more-btn-big {
  display: inline-block;
  background-color: #1ba4ce;
  border-radius: 50px;
  text-align: center;
}
.read-more-btn-big a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  font-size: 14px;
}

.read-more-btn {
  display: inline-block;
  background-color: #30383b;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 140px;
  margin: 0 auto 25px;
}
.read-more-btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  font-size: 14px;
}

.top {
  text-align: center;
  margin-bottom: 130px;
}
.top .container h2 {
  font-family: "Bellota", cursive;
  font-size: 42px;
  font-weight: 700;
  color: #473452;
}
.top .container p {
  margin: 30px auto 50px;
  max-width: 674px;
  font-size: 16px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  font-weight: 300;
}
@media all and (max-width: 768px) {
  .top .container h2 {
    font-size: 55px;
    margin-bottom: 0;
  }
  .top .container p {
    font-size: 25px;
    margin: 30px auto 150px;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff;
  padding: 12px 0;
}
.main-nav .nav-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main-nav .nav-holder .menu-pic {
  height: 80px;
  display: inline-block;
}
.main-nav .nav-holder .menu-pic img {
  height: 100%;
}
.main-nav .nav-holder .mobile-hamburger,
.main-nav .nav-holder .mobile-close {
  display: none;
}
.main-nav .nav-holder .menu-holder {
  width: auto;
  max-width: 100%;
  padding: 0;
  align-self: flex-start;
  text-align: right;
}
.main-nav .nav-holder .menu-holder .menu {
  list-style: none;
}
.main-nav .nav-holder .menu-holder .menu .menu-item {
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 15px;
  margin: 0 20px;
}
.main-nav .nav-holder .menu-holder .menu .menu-item a {
  text-decoration: none;
  font-weight: 700;
  color: #473452;
}
@media all and (max-width: 768px) {
  .main-nav .nav-holder {
    justify-content: space-between;
  }
  .main-nav .nav-holder .menu-pic {
    height: 50px;
  }
  .main-nav .nav-holder .mobile-close, .main-nav .nav-holder .mobile-hamburger {
    font-size: 28px;
    line-height: 50px;
    cursor: pointer;
  }
  .main-nav .nav-holder .mobile-hamburger {
    display: block;
    color: #1ba4ce;
  }
  .main-nav .nav-holder .mobile-close {
    color: #fff;
    text-align: right;
    height: 50px;
    display: block;
  }
  .main-nav .nav-holder .menu-holder {
    position: fixed;
    background-color: #1ba4ce;
    top: 0;
    right: 0;
    max-width: 480px;
    width: 480px;
    padding: 12px 32px;
    display: none;
    box-shadow: 0 5px 20px #a6a6a7;
  }
  .main-nav .nav-holder .menu-holder.open {
    display: block;
  }
  .main-nav .nav-holder .menu-holder .menu .menu-item {
    font-size: 50px;
    margin: 0;
    display: block;
  }
  .main-nav .nav-holder .menu-holder .menu .menu-item a {
    color: #fff;
  }
}

.main-header {
  position: relative;
  top: 114px;
  background-image: url("../img/header-flowers.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -25px -20px;
}
.main-header .container {
  margin-top: 185px;
}
.main-header .container .header-content h3,
.main-header .container .header-content h1 {
  font-family: "Bellota", cursive;
  font-weight: 700;
}
.main-header .container .header-content h3 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #473452;
}
.main-header .container .header-content h1 {
  font-size: 60px;
  color: #30383b;
  max-width: 600px;
}
.main-header .container .header-content p {
  max-width: 501px;
  font-size: 16px;
  line-height: 27px;
  color: #555555;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.main-header .container .header-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  text-align: center;
  font-size: 16px;
}
.main-header .container .header-buttons .reserve-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1ba4ce;
  text-decoration: none;
  color: #fff;
  padding: 10px 28px;
  height: 50px;
  width: 170px;
  cursor: pointer;
}
.main-header .container .header-buttons .watch-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #473452;
  text-decoration: none;
  padding: 10px 28px;
  height: 50px;
  width: 210px;
  cursor: pointer;
}
.main-header .container .header-buttons .watch-btn .play-icon {
  font-size: 32px;
  display: inline-block;
}
@media all and (max-width: 480px) {
  .main-header .container .header-buttons {
    font-size: 12px;
  }
  .main-header .container .header-buttons .reserve-btn, .main-header .container .header-buttons .watch-btn {
    padding: 4px 8px;
    justify-content: center;
    width: 140px;
    height: 40px;
  }
  .main-header .container .header-buttons .watch-btn {
    margin: 0 5px;
  }
  .main-header .container .header-buttons .watch-btn .play-icon {
    font-size: 24px;
  }
}
.main-header .header-img {
  position: absolute;
  top: -299px;
  right: 0;
  z-index: 600;
}
.main-header .header-img img {
  max-width: 890px;
  width: 100%;
  height: auto;
}
@media all and (max-width: 1750px) {
  .main-header .header-img img {
    max-width: 700px;
  }
}
@media all and (max-width: 1500px) {
  .main-header .header-img img {
    max-width: 600px;
  }
}
@media all and (max-width: 1250px) {
  .main-header .header-img img {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .main-header {
    top: 74px;
    background-size: 50px 100px;
    background-position: -15px 5px;
  }
  .main-header .container {
    margin-top: 0;
  }
  .main-header .container .header-content h3 {
    line-height: 15px;
    margin: 15px 0 0;
    font-size: 16px;
  }
  .main-header .container .header-content h1 {
    font-size: 35px;
    line-height: 40px;
    max-width: 400px;
    margin: 10px 0 0;
  }
  .main-header .container .header-content p {
    max-width: 460px;
    height: 30px;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 100px;
  }
}

.main-sec {
  position: relative;
  top: 170px;
  padding-bottom: 140px;
}
.main-sec .container .main-sec-holder img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.main-sec .container .main-sec-holder h3 {
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #473452;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 35px auto 50px;
}
.main-sec .container .main-sec-holder h2 {
  text-align: center;
  font-size: 42px;
  color: #473452;
  font-family: "Bellota", cursive;
  font-weight: 700;
}
.main-sec .container .main-sec-holder p {
  display: block;
  text-align: center;
  margin: 50px auto 40px;
  font-size: 16px;
  color: #888;
  font-family: "Roboto", sans-serif;
  max-width: 863px;
  line-height: 28px;
  font-weight: 300;
}
@media all and (max-width: 600px) {
  .main-sec .container .main-sec-holder p {
    margin: 15px auto 300px;
  }
}
.main-sec .container .read-more-btn-big {
  width: 170px;
  height: 50px;
  line-height: 50px;
}
@media all and (max-width: 768px) {
  .main-sec {
    padding-bottom: 100px;
  }
  .main-sec .container .main-sec-holder h3 {
    margin: 20px auto 30px;
  }
  .main-sec .container .main-sec-holder h2 {
    font-size: 33px;
    margin: 0;
  }
  .main-sec .container .main-sec-holder p {
    margin: 15px auto 40px;
    font-size: 20px;
    max-width: 550px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 170px 0;
  padding: 0;
}
.gallery .photo {
  flex-basis: 25%;
  position: relative;
}
.gallery .photo a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .photo a .gallery-mask {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 164, 206, 0.8);
  margin: 0;
  opacity: 0;
  transition: all 0.3s;
}
.gallery .photo a .gallery-mask .gallery-icon-holder {
  text-align: center;
  color: #fff;
  font-family: "Bellota", cursive;
  font-weight: 400;
  font-size: 22px;
}
.gallery .photo a .gallery-mask .gallery-icon-holder h3 {
  margin: 10px auto;
}
.gallery .photo a .gallery-mask .gallery-icon-holder .icon-spa {
  object-fit: contain;
  margin: 0;
  height: 42px;
  width: fit-content;
}
.gallery .photo a .gallery-mask:hover {
  opacity: 1;
}
@media all and (max-width: 768px) {
  .gallery .photo {
    flex-basis: 100%;
    max-height: 350px;
    margin: 10px 0;
  }
}

.procedures .container .thingis-holder {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.procedures .container .thingis-holder .thing {
  border: 0.1px solid rgba(193, 193, 193, 0.5);
  flex-basis: 30%;
  padding: 15px;
}
.procedures .container .thingis-holder .thing h3 {
  font-family: "Bellota", cursive;
  font-size: 22px;
  font-weight: 700;
  color: #473452;
}
.procedures .container .thingis-holder .thing p {
  max-width: 292px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  font-weight: 300;
  margin: 20px auto 30px;
}
.procedures .container .thingis-holder .thing:hover {
  box-shadow: 0 5px 20px #f0f0f0;
}
.procedures .container .thingis-holder .thing .read-more-btn:hover {
  background-color: #1ba4ce;
}
@media all and (max-width: 1200px) and (min-width: 768px) {
  .procedures .container .thingis-holder .thing {
    margin: 0 10px;
  }
}
@media all and (max-width: 768px) {
  .procedures .container p {
    margin: 30px 0 100px;
  }
  .procedures .container .thingis-holder {
    flex-wrap: wrap;
    justify-content: center;
  }
  .procedures .container .thingis-holder .thing {
    flex-basis: 90%;
    padding: 15px 0;
    margin: 15px 0;
  }
}

.team .container .team-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team .container .team-holder .team-member {
  flex-basis: 32.16%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.team .container .team-holder .team-member .team-member-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.team .container .team-holder .team-member .team-member-photo img {
  width: 100%;
}
.team .container .team-holder .team-member .team-description {
  position: relative;
  top: 0;
  width: 85%;
  min-height: 175px;
  top: -50px;
  background-color: #fff;
  padding: 35px 30px 20px;
  transition: all 1s;
}
.team .container .team-holder .team-member .team-description h2 {
  font-size: 22px;
  margin: 0 auto;
}
.team .container .team-holder .team-member .team-description p {
  margin: 0 auto;
  padding: 0;
  max-width: initial;
  font-size: 16px;
}
.team .container .team-holder .team-member .team-description .icon-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  transition: all 1s;
}
.team .container .team-holder .team-member .team-description .icon-holder .sc-icon {
  border: 1px solid #888888;
  padding: 10px 14px;
  border-radius: 360px;
  color: #473452;
  font-size: 20px;
}
.team .container .team-holder .team-member .team-description .icon-holder .sc-icon.tight {
  padding: 10px 16px;
}
.team .container .team-holder .team-member .team-description .icon-holder .sc-icon.wide {
  padding: 10px 12px;
}
.team .container .team-holder .team-member .team-description .icon-holder .sc-icon:hover {
  color: #fff;
  background-color: #1ba4ce;
  border: 1px solid #fff;
}
.team .container .team-holder .team-member:hover .team-description {
  top: -100px;
  transition: all 1s;
  box-shadow: 0 5px 20px #a6a6a7;
}
.team .container .team-holder .team-member:hover .team-description .icon-holder {
  opacity: 1;
  transition: all 1s;
}
@media all and (max-width: 768px) {
  .team .container p {
    margin: 30px 0 100px;
  }
  .team .container .team-holder {
    justify-content: center;
  }
  .team .container .team-holder .team-member {
    flex-basis: 90%;
  }
  .team .container .team-holder .team-member .team-description {
    top: -90px;
    min-height: 175px;
  }
  .team .container .team-holder .team-member .team-description .icon-holder {
    justify-content: center;
  }
  .team .container .team-holder .team-member .team-description .icon-holder .sc-icon {
    margin: 0 15px;
  }
  .team .container .team-holder .team-member:hover .team-description {
    top: -150px;
    transition: all 1s;
    box-shadow: 0 5px 20px #a6a6a7;
  }
  .team .container .team-holder .team-member:hover .team-description .icon-holder {
    display: flex;
  }
}

.appointment {
  background-color: #1ba4ce;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.appointment .bath-bomb-pic {
  flex-basis: 40%;
}
.appointment .bath-bomb-pic img {
  width: 100%;
  height: 100%;
}
.appointment .app-form {
  flex-basis: 60%;
  justify-content: flex-start;
}
.appointment .app-form form {
  width: 80%;
  padding: 120px 0 120px 50px;
}
.appointment .app-form form input,
.appointment .app-form form select,
.appointment .app-form form textarea {
  background-color: #1ba4ce;
  width: 45%;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 15px 10px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.appointment .app-form form input::placeholder,
.appointment .app-form form select::placeholder,
.appointment .app-form form textarea::placeholder {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.appointment .app-form form input:focus-visible,
.appointment .app-form form select:focus-visible,
.appointment .app-form form textarea:focus-visible {
  outline: none;
}
.appointment .app-form form #ap-message {
  height: 30px;
}
.appointment .app-form form .error {
  border-bottom: 1px solid red;
}
.appointment .app-form form .errors, .appointment .app-form form .sent {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  color: #473452;
  font-weight: 700;
}
.appointment .app-form form .sent {
  color: #fff;
}
.appointment .app-form form select:invalid, .appointment .app-form form .others1::before, .appointment .app-form form .others2::before {
  color: #fff;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
.appointment .app-form form #notes {
  min-height: 80px;
  margin-top: 30px;
  width: 92.6%;
  resize: none;
}
.appointment .app-form form .submit-btn {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 20px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #473452;
  text-transform: uppercase;
}
@media all and (max-width: 768px) {
  .appointment .bath-bomb-pic {
    display: none;
  }
  .appointment .app-form {
    flex-basis: 100%;
  }
  .appointment .app-form form input,
.appointment .app-form form select,
.appointment .app-form form #notes {
    width: 100%;
    font-size: 42px;
  }
  .appointment .app-form form .others1,
.appointment .app-form form .others2 {
    width: 48.3%;
    margin-right: 0;
  }
  .appointment .app-form form .others1 {
    margin-right: 10px;
  }
  .appointment .app-form form #notes {
    max-height: 85px;
    overflow: auto;
    width: 100%;
  }
  .appointment .app-form form .submit-btn {
    text-transform: none;
    font-size: 18px;
    display: block;
    margin: 30px auto 0;
  }
}

.blog .container .blog-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.blog .container .blog-holder .blog {
  border: 0.1px solid rgba(193, 193, 193, 0.5);
  flex-basis: 30%;
  padding: 15px;
}
.blog .container .blog-holder .blog img {
  min-width: 320px;
  width: 100%;
  height: auto;
}
.blog .container .blog-holder .blog .combined {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 30px auto 15px;
}
.blog .container .blog-holder .blog h3 {
  font-size: 22px;
  font-family: "Bellota", cursive;
  font-weight: 700;
}
.blog .container .blog-holder .blog p {
  margin: 20px auto 60px;
  max-height: 27px;
  overflow: hidden;
}
.blog .container .blog-holder .blog:hover {
  box-shadow: 0 5px 20px #f0f0f0;
}
.blog .container .blog-holder .blog .read-more-btn:hover {
  background-color: #1ba4ce;
}
@media all and (max-width: 1200px) and (min-width: 768px) {
  .blog .container .blog-holder .blog {
    margin: 0 10px;
  }
}
@media all and (max-width: 768px) {
  .blog .container p {
    margin: 30px 0 100px;
  }
  .blog .container .blog-holder {
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog .container .blog-holder .blog {
    flex-basis: 90%;
    padding: 30px;
    margin: 15px;
  }
  .blog .container .blog-holder .blog .combined {
    font-size: 16px;
  }
  .blog .container .blog-holder .blog h3 {
    font-size: 34px;
  }
  .blog .container .blog-holder .blog p {
    max-height: fit-content;
  }
}

.contact {
  background-color: #1ba4ce;
  padding: 80px 0 120px;
}
.contact h2 {
  color: #fff;
  font-family: "Bellota", cursive;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  margin: 0;
  padding: 0 0 50px;
}
.contact p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.7px;
  max-width: 674px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
}
.contact .example-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .example-contact .icon-holder {
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.contact .example-contact .icon-holder .icon {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.contact .example-contact .icon-holder .icon .colab {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 25px auto;
}
.contact .example-contact .icon-holder .icon .colab img {
  max-height: 17px;
  margin: 10px;
}
.contact .example-contact .icon-holder .icon .colab p {
  margin: 0;
  padding: 0 40px;
  line-height: 30px;
}
.contact .example-contact .form-holder {
  padding-top: 20px;
  flex-basis: 60%;
  justify-content: flex-start;
  align-items: center;
}
.contact .example-contact .form-holder form {
  width: 100%;
}
.contact .example-contact .form-holder form input,
.contact .example-contact .form-holder form textarea {
  background-color: #1ba4ce;
  width: 80%;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 15px 10px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.contact .example-contact .form-holder form input::placeholder,
.contact .example-contact .form-holder form textarea::placeholder {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.contact .example-contact .form-holder form input:focus-visible,
.contact .example-contact .form-holder form textarea:focus-visible {
  outline: none;
}
.contact .example-contact .form-holder form #comment {
  min-height: 80px;
  margin-top: 30px;
  display: block;
  resize: none;
}
.contact .example-contact .form-holder form .submit-btn {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 20px 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #473452;
  text-transform: uppercase;
}
@media all and (max-width: 768px) {
  .contact {
    padding: 80px 0;
  }
  .contact .example-contact {
    justify-content: center;
    align-items: center;
  }
  .contact .example-contact .icon-holder {
    flex-basis: 80%;
    margin: 0 auto;
  }
  .contact .example-contact .icon-holder .icon .colab img {
    max-height: 32px;
  }
  .contact .example-contact .form-holder {
    flex-basis: 80%;
    margin: 0 auto;
  }
  .contact .example-contact .form-holder form input,
.contact .example-contact .form-holder form textarea {
    width: 100%;
    border: 0.2px solid #fff;
  }
  .contact .example-contact .form-holder form #comment {
    margin-top: 0;
    min-height: 200px;
  }
  .contact .example-contact .form-holder form .submit-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 14px;
  }
}

.footer {
  padding: 50px;
}
.footer .container img {
  max-width: 130px;
  display: block;
  margin: 0 auto 20px;
}
.footer .container .footer-nav {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
}
.footer .container .footer-nav ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto 60px;
}
.footer .container .footer-nav ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #835285;
  font-size: 16px;
  letter-spacing: 1.4px;
}
.footer .container p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #888888;
  text-align: center;
}
@media all and (max-width: 768px) {
  .footer .container .footer-nav {
    max-width: 691.2px;
  }
  .footer .container .footer-nav ul {
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto 100px;
  }
  .footer .container .footer-nav ul li {
    display: inline-block;
    flex-basis: 32%;
  }
  .footer .container .footer-nav ul li a {
    line-height: 27px;
    font-weight: 700;
    letter-spacing: 1.7px;
  }
}/*# sourceMappingURL=style.css.map */