.footer {
    padding: 50px;

    .container {

        img {
            max-width: 130px;
            display: block;
            margin: 0 auto 20px;
        }

        .footer-nav {
            text-align: center;
            max-width: 680px;
            margin: 0 auto;

            ul {
                list-style: none;
                text-transform: uppercase;
                @include flexbox;
                justify-content: space-around;
                margin: 50px auto 60px;

                li {
                    a {
                        text-decoration: none;
                        font-weight: 700;
                        color: #835285;
                        font-size: $paraghs;
                        letter-spacing: 1.4px;
                    }
                }
            }
        }

        p {
            font-size: $paraghs;
            font-family: $main-font;
            font-weight: 400;
            color: $light-gray-color;
            text-align: center;
        }

        @media all and (max-width: $medium) {
            .footer-nav {
                max-width: calc($medium*0.9);
                ul {
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 50px auto 100px;

                    li {
                        display: inline-block;
                        flex-basis: 32%;
                        

                        a {
                            line-height: 27px;
                            font-weight: 700; 
                            letter-spacing: 1.7px;
                        }
                    }
                }
            }
        }
    }
}