.appointment {
    background-color: $blue-color;
    @include flexbox;
    margin-bottom: 100px;

    .bath-bomb-pic {
        flex-basis: 40%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .app-form {
        flex-basis: 60%;
        justify-content: flex-start;

        form {
            width: 80%;
            padding: 120px 0 120px 50px;

            input,
            select,
            textarea {
                background-color: $blue-color;
                width: 45%;
                color: #fff;
                border: none;
                border-bottom: 1px solid #fff;
                padding: 15px 10px;
                margin-right: 15px;
                margin-bottom: 30px;

                &::placeholder {
                    color: #fff;
                    font-family: $main-font;
                }

                &:focus-visible {
                    outline: none;
                }
            }

            #ap-message {
                height: 30px;
            }
            .error {
                border-bottom: 1px solid red;
            }

            .errors, .sent {
                padding-top: 15px;
                font-family: $main-font;
                text-transform: uppercase;
                font-size: $paraghs;
                letter-spacing: 1px;
                color: $violet-color;
                font-weight: 700;
            }

            .sent {
                color: #fff;
            }

            select:invalid, .others1::before, .others2::before {
                color: #fff;
                content: attr(placeholder) !important;
                margin-right: 0.5em;
            }

                #notes {
                    min-height: 80px;
                    margin-top: 30px;
                    width: 92.6%;
                    resize: none;
                }

                .submit-btn {
                    margin-top: 30px;
                    background-color: #fff;
                    border-radius: 50px;
                    border: 1px solid #fff;
                    padding: 20px 15px;
                    font-family: $main-font;
                    font-weight: 700;
                    font-size: 14px;
                    color: $violet-color;
                    text-transform: uppercase;
                }
            }
        }

        @media all and (max-width: $medium) {
            .bath-bomb-pic {
                display: none;
            }

            .app-form {
                flex-basis: 100%;

                form {

                    input,
                    select,
                    #notes {
                        width: 100%;
                        font-size: $headers;
                    }

                    .others1,
                    .others2 {
                        width: 48.3%;
                        margin-right: 0;
                    }

                    .others1 {
                        margin-right: 10px;
                    }

                    #notes {
                        max-height: 85px;
                        overflow: auto;
                        width: 100%;
                    }

                    .submit-btn {
                        text-transform: none;
                        font-size: 18px;
                        display: block;
                        margin: 30px auto 0;
                    }
                }
            }
        }
    }