.main-sec {
    position: relative;
    top: 170px;
    padding-bottom: 140px;

    .container {

        .main-sec-holder {

            img {
                width: 100px;
                display: block;
                margin: 0 auto;
            }

            h3 {
                text-align: center;
                font-size: $paraghs;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $violet-color;
                font-family: $main-font;
                font-weight: 400;
                margin: 35px auto 50px;
            }

            h2 {
                text-align: center;
                font-size: $headers;
                color: $violet-color;
                font-family: $curvy-font;
                font-weight: 700;
            }
            
            p {
                display: block;
                text-align: center;
                margin: 50px auto 40px;
                font-size: $paraghs;
                color: #888;
                font-family: $main-font;
                max-width: 863px;
                line-height: 28px;
                font-weight: 300;
            }

            @media all and (max-width: 600px) {
                p {
                    margin: 15px auto 300px;
                }
            }
        }

        .read-more-btn-big {
            width: 170px;
            height: 50px;
            line-height: 50px;
        }
    }

    @media all and (max-width: $medium) {
        & {
            padding-bottom: 100px;

            .container {

                .main-sec-holder {
                    h3 {
                        margin: 20px auto 30px;
                    }

                    h2 {
                        font-size: 33px;
                        margin: 0;
                    }

                    p {
                        margin: 15px auto 40px;
                        font-size: 20px;
                        max-width: 550px;
                    }
                }
            }
        }
    }
}