.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: #fff;
    padding: 12px 0;

    .nav-holder {
        @include flexbox;
        justify-content: flex-start;

        .menu-pic {
            height: 80px;
            display: inline-block;

            img {
                height: 100%;
            }
        }

        .mobile-hamburger,
        .mobile-close {
            display: none;
        }

        .menu-holder {
            width: auto;
            max-width: 100%;
            padding: 0;
            align-self: flex-start;
            text-align: right;

            .menu {
                list-style: none;

                .menu-item {
                    display: inline-block;
                    text-transform: uppercase;
                    padding: 20px 0;
                    font-size: 15px;
                    margin: 0 20px;

                    a {
                        text-decoration: none;
                        font-weight: 700;
                        color: $violet-color;
                    }
                }
            }
        }
    }

    @media all and (max-width: $medium) {
        .nav-holder {
            justify-content: space-between;

            .menu-pic {
                height: 50px;
            }

            %mobiles {
                font-size: 28px;
                line-height: 50px;
                cursor: pointer;
            }

            .mobile-hamburger {
                display: block;
                @extend %mobiles;
                color: $blue-color;
            }

            .mobile-close {
                @extend %mobiles;
                color: #fff;
                text-align: right;
                height: 50px;
                display: block;
            }

            .menu-holder {
                position: fixed;
                background-color: $blue-color;
                top: 0;
                right: 0;
                max-width: 480px;
                width: 480px;
                padding: 12px 32px;
                display: none;
                box-shadow: $box-shadow-ef2;

                &.open {
                    display: block;
                }

                .menu {

                    .menu-item {
                        font-size: 50px;
                        margin: 0;
                        display: block;

                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}