*{
    box-sizing: border-box;
    margin: 0;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    background-color: rgb(12, 12, 161);
    font-size: 1.6em;
    padding: 30px;
}

ul.nope{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li{
    display: inline;
    padding: 10px 20px;
}

a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

div.wew{
    display: flex;
    flex-wrap: nowrap;
}

.left{
    float: left;
}

.right{
    float: right;
}

.trianglebox{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: rgb(12, 12, 161);
    justify-content: center;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 1080px solid transparent;
    border-right: 1080px solid transparent;
    border-bottom: 90px solid white;
}

section{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 4em;
}