*{
    box-sizing: border-box;
}

body{
    background-color: #706468;
}

div#pracownicy{
    background-color: #ede6e1;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

div#pracownicy div {
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
    flex-basis: 100%;
}

div#pracownicy div span, 
div#pracownicy div input {
    flex-basis: 25%;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}

input{
    border: 1px solid #d1ccc9;
    border-radius: 5px;
    align-self: center;
    height: 30px;
}

div#pracownicy div[id^=pracownik] span {
    background-color: #d1ccc9;
    margin: 5px;
    border-radius: 5px;
    min-width: 155px;
}

div#pracownicy div[id^=pracownik] span:hover{
    background-color: #706468a1;
}

input, div#pracownicy span#pracownik-czas,
div#pracownicy span#pracownik-stawka{
    max-width: 140px;
    min-width: 50px;
    max-height: 30px;
}

#oblicz{
    padding: 12px;
    background-color: #d1ccc9;
    border: 2px solid #d1ccc9;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    display: block;
}

#oblicz:hover{
    border: 2px solid #70646800;
    background-color: #706468a1;
    transition: .4s;
}

div#pracownicy div[id^=pracownik] span.red {
    background-color: rgb(220, 89, 89);
}

div#pracownicy div[id^=pracownik] span.red:hover {
    background-color: rgb(216, 54, 54);
}

div#pracownicy span#tytul-czas,
div#pracownicy span#tytul-stawka{
    max-width: 140px;
    min-width: 50px;
}

div#title span {
    background-color: #70646885;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 5px;
}

h3{
    text-align: center;
    line-height: 32px;
    font-size: 1.3em;
    font-weight: lighter;
}
span#last{
    font-size: 1.8em;
    font-weight: bold;
}